@page "/select/overview"

<link rel="stylesheet" href="css/select/SelectOverview.css?version=0.0.648" />

<h2>Select / Overview</h2>
<div class="sample-block">
    <IntegralUISelect id="select-overview" TItem="CustomItem"
        DropDownSize="@dropDownSize"
        Items="@items"
        MaxDropDownItems="@currentMaxDropDownItems"
        SelectedItem="@currentSelection"
        Size="@ctrlSize"
    ></IntegralUISelect>
    <div class="feature-help">
        <p><span class="initial-space"></span><strong><span class="code-name">IntegralUI</span> Select</strong> is a Blazor Component that replaces the standard &lt;select&gt; HTML element. It has advanced features like options to set the width and height of dropdown window, custom item templates where you can add any HTML element or other Blazor components, choosing item that is currently selected, customizable appearance using CSS custom properties etc.</p>
        <p><span class="initial-space"></span>The demonstration above shows only the basic features available in Select component. There are several items present in the dropdown list. Opening or closing of dropdown list is animated.</p>
    </div>
</div>

@code {

    public IntegralUISize ctrlSize = new() { Width = 300 };
    public int currentMaxDropDownItems = 5;
    public CustomItem? currentSelection;
    public IntegralUISize dropDownSize = new() { Width = 350, Height = 200 };

    public List<CustomItem> items = new()
    {
        new CustomItem { Id = "1", Text = "Books" },
        new CustomItem { Id = "2", Text = "Computers" },
        new CustomItem { Id = "3", Text = "Electronics" },
        new CustomItem { Id = "4", Text = "Music" },
        new CustomItem { Id = "5", Text = "Software" },
        new CustomItem { Id = "6", Text = "Sports" },
        new CustomItem { Id = "7", Text = "Video Games" },
        new CustomItem { Id = "8", Text = "Watches" }
    };

    public class CustomItem
    {
        public string? Id { get; set; } = string.Empty;
        public string? Text { get; set; }
        public bool Selected { get; set; } = false;
    }

}
